body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.card {
    width: 220px;
    padding: 25px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

.card span {
    font-size: 26px;
    font-weight: bold;
}

.temp { background: #e74c3c; }
.hum  { background: #3498db; }
.gas_level  { background: #2ecc71; }

/* Table */
h2 {
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #34495e;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}